sleep = {
  initialize = The number of seconds to wait for the reboot
  server     = The number of seconds to wait for the server node
  agents     = The number of seconds to wait for the agent nodes
}

nodes = {
  server = {
    user = "SSH username for accessing the server node"
    host = "Hostname or IP address of the server node"
    key  = "Path to the private SSH key"
  }
  agents = [{
    user = "SSH username for accessing the agent node"
    host = "Hostname or IP address of the agent node"
    key  = "Path to the private SSH key"
  }]
}
